* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: auto;
  padding-top: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: auto;
  padding-bottom: 1rem;
}

input {
  padding-right: 50px;
}

#button {
  margin-left: 10px;
}

#reset {
  margin-top: 0.5rem;
  width: 100%;
}

li {
  list-style: none;
  cursor: pointer;
  padding-top: 1rem;
  font-size: 1.2rem;
}

section {
  inline-size: 265px;
  overflow-wrap: break-word;
}

.done {
  text-decoration: line-through;
  color: red;
}

footer {
  text-align: center;
  margin-top: auto;
  padding-bottom: 10px;
}
